[user]
	name = Matthew Rikard
	email = mattr@acst.com
[push]
	default = current
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = vim
	autocrlf = false
	safecrlf = false
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
	conflictstyle = diff3
[diff]
	tool = vimdiff
	conflictstyle = diff2
[http]
	sslVerify = false
[winUpdater]
	recentlySeenVersion = 2.20.1.windows.1
[url "git@github.com:acst/"]
	insteadOf = https://github.com/acst/
[alias]
	pullall = "!f(){ git pull \"\" && git submodule update --init --recursive; };"
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	su = submodule update --recursive
	si = submodule update --init --recursive
	revertall = !git reset --hard HEAD; git clean -df
    tobase = "!f(){ git reset --hard HEAD; git clean -df; git fetch -p; headbranch=`git remote show origin | grep 'HEAD branch' | sed 's/.*: //'`; git checkout $headbranch; git pull origin $headbranch; git si;}; f;"
    stache = "!f(){ read -p 'Describe this stash: ' descStache; git stash push --include-untracked -m \"$descStache\"; }; f;"
	opendiff = "!f(){ vim $(git --no-pager diff --name-only master); }; f;"
	awayfrom = "log --left-right --graph --cherry-pick --oneline"
[rerere]
	enabled = 1
